* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
  
  body{
  font-family: "Bebas Neue", serif;
  }
  
  

  /* Header styling */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:white;
    color: black;
  }
  h1:hover{
   color: darkmagenta;
   font-style: italic;
   transform: rotate(-2deg);
  }

  /* Company name styling */
  .logo {
    font-size: 18px;
    font-weight: bold;
  }
  .logo:hover{
    font-style:italic;
    background-color:violet;
  }

  /* Navigation menu styling */
  nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
  }

  nav ul li {
    display: inline;
  }

  nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
  
  }

  nav ul li a:hover {
    text-decoration: underline;
    text-decoration-color: lavenderblush;
    cursor: pointer;
    color: hotpink;
  }
  main .hero {
    text-align: center;
    padding: 20px;
  }
  
  main .hero h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }
  
  main .hero .image-container img {
    width: 100%;
    max-width: 1200px;
    
  }
  .steamimg:hover{
    transform: scale(0.9);
    border: 5px solid saddlebrown;
    cursor: pointer;
  }
  .projectimg:hover{
    transform: rotate(5deg) scale(1.1);
    cursor:pointer'
  }
  
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .projects .project {
    text-align: center;
  }
  
  .projects .project img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
  }
  h4{
    margin:10px;
    padding: 10px;
  }
  button{
    background-color: black;
    color:white; 
    width:100px;
    height:30px; 
    border-radius: 5px;
  }
  input[type="text"]{
    width:40px;
    height: 40px;
    text-align: center;
    border-radius:8px;
  }
  

  .description {
    margin: 40px 20px;
  }
  
  .contact {
    text-align: center;
    margin: 40px 20px;
  }
  
  .contact form {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
  }

  .skip{
    text-decoration: none;
    color: black;
  }

  
  .footer {
    background-color:white;
    color:black;
    padding: 10px 20px;
    text-align: left;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: bold;
}

.back{
  text-align: end;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: bold;
}


.submit{
  width: 300px;
  border-radius: 5px;
}
@media (max-width: 768px){
  header {
    flex-direction: column;
    text-align: center;
  }
}
  @media (max-width: 480px) {
    header {
      padding: 10px;
    }
  }
